[Unit]
Description=Run Wi-Fi keepalive script every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=4min
Persistent=true

[Install]
WantedBy=timers.target

