[Unit]
Description=Check and restart Wi-Fi if connection is down
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check_wifi.sh
# ExecStart=/bin/bash -c '/usr/local/bin/check_wifi.sh >> /var/log/wifi-keepalive.log 2>&1'

